body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  /* Timeslot area */
  textarea {
    background: #fdd1df;
    border: none;
    resize: none;
    color: #ffffff;
    border-left: 1px solid #fd4698;
    padding: 10px;
  }
  
  /* Header */
  .jumbotron {
    text-align: center;
    background-color: #fdd1df; 
    color: #fd4698;
    border-radius: 0;
    border-bottom: 1px dashed #fd4698;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  /* Hour Square */
  .hour {
    background-color: #ffffff;
    color: #fd4698;
    border-top: 1px solid #fd4698;
    border-left: 1px solid #fd4698;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #fd4698;
    color: white;
  }
  
  .future {
    background-color: #b9dffc;
    color: white;
  }
  
 /* Styling for buttons */
.saveBtn,
.clearBtn {
  border-left: 1px solid #fd4698;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

/* Save Button colour */
.saveBtn {
  background-color: #fd4698;
}

/* Clear Button colour */
.clearBtn {
  background-color: #b9dffc;
}

/* Hover effect for buttons */
.saveBtn:hover,
.clearBtn:hover {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

/* make the white-space normal as a custom style */
.custom-row {
  white-space: normal;
}